<!DOCTYPE html>
<html>
<body>
<h1>Farms of Dukalapadu</h1>
{{ data }}
{{ data1 }}
{{ data2 }}
<script>
var house=[];
var Fa;
{% for item in data1 %}

	var Name={{ item.Name }};
	var Relation={{ item.Relation }};
        house.push([Name,Relation]);
{% endfor %}
</script>
<div id="map" style="width:100%;height:600px;"></div>

<script>
var map;
var infoWindow;
function initMap()
{
var locations=[];
var farmCoords=[];

   
    {% for item in data %}
	var W1 = {{ item.Lat }};
        var W2 = {{ item.Long }};
        var D={{ item.Depth }};
	var A={{ item.Avg_water }};
	var F={{ item.FF_id.F_id }};
	locations.push([W1,W2,D,A,F]);
    {% endfor %}






    {% for item in data2 %}
    	window.Fa={{ item.F_id }};
    	var La1 = {{ item.Lat_1 }};
    	var Lo1 = {{ item.Long_1 }};
    	var La2 = {{ item.Lat_2 }};
    	var Lo2 = {{ item.Long_2 }};
    	var La3 = {{ item.Lat_3 }};
    	var Lo3 = {{ item.Long_3 }};
    	var La4 = {{ item.Lat_4 }};
    	var Lo4 = {{ item.Long_4 }};
    	var La5 = {{ item.Lat_5 }};
    	var Lo5 = {{ item.Long_5 }};
    	var La6 = {{ item.Lat_6 }};
    	var Lo6 = {{ item.Long_6 }};
    	var La7 = {{ item.Lat_7 }};
    	var Lo7 = {{ item.Long_7 }};
    	var La8 = {{ item.Lat_8 }};
    	var Lo8 = {{ item.Long_8 }};
	farmCoords.push([
            {lat: La1, lng: Lo1},
            {lat: La2, lng: Lo2},
            {lat: La3, lng: Lo3},
	    {lat: La4, lng: Lo4},
	    {lat: La5, lng: Lo5},
            {lat: La6, lng: Lo6},
            {lat: La7, lng: Lo7},
	    {lat: La8, lng: Lo8}
        ])
    {% endfor %}
    map = new google.maps.Map(document.getElementById('map'), 
	{zoom: 20,
          center: {lat: La2, lng: Lo2},
          mapTypeId: 'satellite'});






/*var houseslo = [
      ['Aravind',18.418829, 84.014840, 4],
      ['Santosh',18.419259, 84.014618, 5],
      ['Sunil', 18.418098, 84.014447, 3],
      ['Giri', 18.418098, 84.015369, 2],      
    ];
*/
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

  //  for (i = 0; i < house.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(18.418481,84.014577),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          var Str=" ";
	for (i=0;i<house.length;i++){
		Str=house[i][1];
	}
	//document.write(Str);
          infowindow.setContent("Santosh"+'<br>'+"Wife : Keeri"+'<br>'+"Son : Santo");
          infowindow.open(map, marker);
        }
      })(marker, i));
//    }


    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0],locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][4]+" "+"Depth:"+locations[i][2]+" "+"Avg yield:"+locations[i][3]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
      /*var farmCoords = [
            {lat: La1, lng: Lo1},
            {lat: La2, lng: Lo2},
            {lat: La3, lng: Lo3},
	    {lat: La4, lng: Lo4},
	    {lat: La5, lng: Lo5},
            {lat: La6, lng: Lo6},
            {lat: La7, lng: Lo7},
	    {lat: La8, lng: Lo8}
        ];*/
    for (i = 0; i < farmCoords.length; i++) {
      var farmBoundary = new google.maps.Polygon({
          paths: farmCoords[i],
          strokeColor: '#000000',
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: '#008700',
          fillOpacity: 0.35,
	  name: 'name 1'
        });
      farmBoundary.setMap(map);
      farmBoundary.addListener('click', showArrays);
      infoWindow = new google.maps.InfoWindow;



      }
    }
      function showArrays(event) {
        var contentString = "Santosh Velamala"+'<br>'+"No. of acres : 20"+'<br>'+"Crop : Rice";
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);

        infoWindow.open(map);
      }



</script>



<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA6DBq5hcAeUdPjXiUIiUIKOfqbdUxaQ8 &callback=initMap">
    </script>

</body>
</html>




